<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://watchportalfunction20210813123755.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cd95c468-c847-4d77-a75e-1df1ae3a002f/resourceGroups/learn-7ee43614-12a2-4b63-ab68-0f4e90510a90/providers/Microsoft.Web/sites/WatchPortalFunction20210813123755</ResourceId>
    <UserName>$WatchPortalFunction20210813123755</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://watchportalfunction20210813123755.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>